@font-face {
  font-family: Panton;
  font-weight: bold;
  src: url("/static/fonts/PantonBold.otf") format("opentype");
}

@font-face {
  font-family: Panton;
  font-weight: normal;
  src: url("/static/fonts/Panton.otf") format("opentype");
}

@font-face {
  font-family: Panton;
  font-weight: 600;
  src: url("/static/fonts/PantonSemiBold.otf") format("opentype");
}

@font-face {
  font-family: CharterC;
  font-weight: bold;
  src: url("/static/fonts/ChartercBold.otf") format("opentype");
}

@font-face {
  font-family: BrutalType;
  font-weight: bold;
  src: url("/static/fonts/BrutalTypeBold.otf") format("opentype");
}

@font-face {
  font-family: BrutalType;
  font-weight: 200;
  src: url("/static/fonts/BrutalTypeExtraLight.otf") format("opentype");
}