@mixin text-margin($font-size, $margin-top, $margin-bottom) {
  font-size: $font-size;
  margin-top: calc(#{$margin-top} - #{$font-size / 2.62});
  margin-bottom: calc(#{$margin-bottom} - #{$font-size / 2.62});
}